<section class="hero is-success is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered">
        Create an Account
      </h1>
    </div>
  </div>
</section><br>


<% if @user.errors.any?%>
  <% @user.errors.full_messages.each do |error| %>
    <%= error%>
    <%end%>
    <%end%>
<%= render 'forms' %>
