<section class="hero is-success is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered">
        Here is a list of Restaurants that serve <%= @cuisine.name %>
      </h1>
    </div>
  </div>
</section><br>





<% @restaurants.map do |r| %>
<li><%= link_to r.name, restaurant_path(r)%></li>
<% end %>
